@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

nav.navbar.main-color {
  background-color: #184a75;
}

a.button.text-main-color {
  color: #184a75;
}

.main-image {
  height: 85vh;
  background-image: url("/night-sky.jpg");
  background-size: cover;
  background-position: center;
}

